<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/setCookie">쿠키설정</a>
    <a href="/getCookie">쿠키확인</a>
    <a href="/clearCookie">쿠키삭제</a>

</body>
</html>