@import "./utils2.scss";
.main {
    display: flex;
    flex-direction: column;
    .box {
        position: relative;
        // width:100px;
        // height:100px;
        border-radius: 50%;
        
        
        
        @include box(100px);
        
    }
    .aa {
        background-color: $color-aquamarine;
        animation-name: aa;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }
    .bb{
        background-color: $color-blue;
        animation-name: bb;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }
    .cc {
        background-color: $color-green;
        animation-name: cc;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }
}

@keyframes aa {
    0%{left:0px; top:0px;}
    25% {left: 200px; top:0px;}
    50% {left: 200px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
}

@keyframes bb {
    0%{left:0px; top:0px;}
    25% {left: 300px; top:0px;}
    50% {left: 300px; top: 300px;}
    75% {left: 0px; top: 300px;}
    100% {left: 0px; top: 0px;}
}

@keyframes cc {
    0%{left:0px; top:0px;}
    25% {left: 400px; top:0px;}
    50% {left: 400px; top: 400px;}
    75% {left: 0px; top: 400px;}
    100% {left: 0px; top: 0px;}
}