<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <div><span><%= userInfo.id%></span>가 id 입니다.</div>
    <div><span><%= userInfo.pw%></span>가 password 입니다.</div>
    <div><span><%= userInfo.name%></span>가(이) 이름입니다.</div>
</body>
</html>