<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form name="form-login">
        <fieldset>
            <legend>로그인</legend>
            <input type="text" id="userid">아이디<br>
            <input type="password" id="pw">비밀번호<br>
            <button type="button" onclick="login()">로그인</button>
        </fieldset>
    </form>
    <form name="form-profile" action="/user/profile" method="post">
        <input type="hidden" name="userid">
    </form>

    <script>
        function login() {
            const form = document.forms["form-login"];
            const data  ={
                userid: form.userid.value,
                    pw: form.pw.value,
            }
            console.log("login", data)
            axios({
                method: "post",
                url: "/user/signin",
                data

            }).then((res) => {
                console.log("res", res);
                if(res.data.result) {
                    alert("로그인이 되었습니다")
                    const form_profile = document.forms["form-profile"]
                    console.log(form_profile)
                    form_profile.userid.value = form.userid.value
                    form_profile.submit();
                    // axios({
                    //     method: "post",
                    //     url: "/user/profile",
                    //     data
                    // }).then((res) => {
                    //     console.log("res", res);
                    // })
                    //window.location.href = "/user/profile"
                } else {
                    alert("아이디나 비밀번호가 일치하지 않습니다.")
                    window.location.href = "/user/signin"
                    // form.reset();
                }
            })
        }
    </script>
</body>
</html>