<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="image/다운로드1.jpg">
    <h1><%= day >%</h1>
    <a href="/hi">hi로 이동</a>
    <a href="/hihi">hihi로 이동</a>
</body>
</html>