<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/image/다운로드3.jpg">
    <a href="/hihi">hihi로 이동</a>
    <a href="/">처음으로 이동</a>
</body>
</html>